/* file for styling cart.html */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

#cart-section {
    padding: 40px 20px;
    display: flex;
    justify-content: space-between; 
    gap: 30px; 
    flex-wrap: wrap; 
}

#cart-items-container {
    display: flex;
    flex-direction: column;
    flex: 1; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 20px;
    background-color: #f9f9f9;
    margin-bottom: 0;
}

#cart-summary-container {
    display: flex;
    flex-direction: column;
    flex: 1; 
    margin-top: 0;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 20px;
    background-color: #f9f9f9;
}

#fees-box {
    width: auto; 
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc; 
    margin-top: 1px; 
}

.fees-box h2 {
    margin-top: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.fees-box p {
    font-size: 1em;
    margin: 8px 0;
}

.fees-box strong {
    font-weight: bold;
}

.cart-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.cart-product {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.remove-item-btn {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #61bc64; 
    color: white;
    border: none;
    cursor: pointer;
}

.remove-item-btn:hover {
    background-color: #45a049;
}

#checkout-btn {
    display: flex;          
    justify-content: center; 
    align-items: center;     
    width: 100%;            
    margin-bottom: 30px;        
}

#checkout-btn button {
    padding: 10px 20px; 
    font-size: 16px;     
    background-color: #61bc64; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#checkout-btn button:hover {
    background-color: #45a049; 
}


@media (max-width: 768px) {
    #cart-section {
        flex-direction: column; 
    }

    #cart-items-container,
    #cart-summary-container {
        flex: 1; 
        margin-bottom: 20px; 
    }

}
